<left>
    <b> Workshop</b> <br>
    <img src="https://hitwebcounter.com/counter/counter.php?page=7920860&style=0038&nbdigits=9&type=page&initCount=0" title="Migrate" Alt="web counter"   border="0" /></a>  <br>
     <b> <a href="https://cloudjourney.awsstudygroup.com/">Cloud Journey</a></b> <br>
    <img src="https://hitwebcounter.com/counter/counter.php?page=7830807&style=0038&nbdigits=9&type=page&initCount=0" title="Total CLoud Journey" Alt="web counter"   border="0"   />
     
</left>
<left>
    <br>
    <br>
    <b>Last Updated</b><br>
    <i>
        <span id="lastUpdated" style="color:orange;"></span>
    </i>

    <script>
        // Lấy ngày hiện tại
        const today = new Date();
        // Định dạng dd-mm-yyyy
        const formattedDate = today.toLocaleDateString('en-GB');
        // Gán vào thẻ span
        document.getElementById('lastUpdated').textContent = formattedDate;
    </script>
</left>
<left>
    <br>
    <br>
    <b> Team </b> <br>

    <i> <a href="https://www.linkedin.com/in/jotaguy"  style="color:orange">Gia Hưng  </a> <br>
    <a href="https://www.linkedin.com/in/longnguyen3774/" style="color:orange">Nguyễn Phi Long</a> <br>
    <a href="https://www.linkedin.com/in/th%C3%A0nh-tr%E1%BB%8Dng-174339383/" style="color:orange">Trần Trọng Thành</a> <br>
    <a href="https://www.linkedin.com/in/b%E1%BA%A1ch-quang-t%C3%B9ng/" style="color:orange">Bạch Quang Tùng</a> <br>
    <a href="https://www.linkedin.com/in/huymanhluyen" style="color:orange">Luyện Huy Mạnh</a> <br>
    <a href="https://www.linkedin.com/in/ki%E1%BB%87t-tr%E1%BA%A7n-68aa99407/" style="color:orange">Trần Tuấn Kiệt</a>

    </i>
</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>